header{
    background-color: #8b4513;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo{
    text-align: center;
}

#wear{
    width: 5cm;
    height: 5cm;
    margin-left: 10cm;
    margin-bottom: 2cm;
}
footer{
    background-color: #D2B48C;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}